.hero {
    background-image: url('/assets/img/wallpaper.webp');
    background-size: cover;
    background-position: center;
}
.searching-bg {
    background-color: #f2f2f2;
    transition: 2s ease;
}