.md-show {
    display: none;
}
.rotate-180 {
    transform: rotate(180deg);
    transition: 0.3s ease;
}
.toggle-btn {
    transition: 0.3s ease;
}
@media screen and (max-width:991px){
    .md-hide {
        display: none;
    }
    .md-show {
        display: flex;
    }
}