<!-- category bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container-lg">
        <ul class="navbar-nav mb-lg-0 p-0">
            <li class="nav-item me-lg-3"><a class="nav-link p-1" href="#">Carros y Camionetas</a></li>
            <li class="nav-item me-lg-3"><a class="nav-link p-1" href="#">Motocicletas</a></li>
            <li class="nav-item me-lg-3"><a class="nav-link p-1" href="#">Pesados</a></li>
            <li class="nav-item me-lg-3"><a class="nav-link p-1" href="#">Herramientas</a></li>
            <li class="nav-item me-lg-3"><a class="nav-link p-1" href="#">Recreativos</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-lg">
      <a class="navbar-brand brand-text" href="#"><strong>AUTOSCAN.DO</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-lg-3"><a class="nav-link" href="#">Inicio</a></li>
            <li class="nav-item mx-lg-3"><a class="nav-link" href="#">Marcas</a></li>
            <li class="nav-item mx-lg-3"><a class="nav-link" href="#">Lista Top</a></li>
            <li class="nav-item mx-lg-3"><a class="nav-link" href="#">Limones</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mi Cuenta
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mi Garage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="#">Ford Focus 2016</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Limpiar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>