<footer class="container-fluid dark-bg">
    <div class="container-lg pt-4 pb-4">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="navbar-brand brand-text text-light"><strong>AUTOSCAN.DO</strong></h4>
            </div>
            <div class="col-lg-8">
                <div class="row text-light">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="" class="footer-link">Nosotros</a>
                            </div>
                            <div class="col-lg-4">
                                <a href="" class="footer-link">Contacto</a>
                            </div>
                            <div class="col-lg-4">
                                <a href="" class="footer-link">Blog</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="" class="footer-link">Anunciate</a>
                            </div>
                            <div class="col-lg-4">
                                <a href="" class="footer-link">Contacto</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <small class="mb-0">Copyright 2022 © Autoscan.do</small>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <small>Terminos / Privacidad</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>